*{
    margin:0 ;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: #fff;
}
/* 头部 */
header{
    width:980px;
    height:118px;
    margin: 0 auto;
}
header .head{
    width:100%;
    height:59px;
    padding:10px 0;
    color:rgb(141, 144, 149);
    font-size: 28px;
    letter-spacing: 12px;
    text-align: center;
    line-height: 59px;
    font-family: 微软雅黑;
}
header .nav{
    width:980px;
    height:37px;
    border-top: 1px solid #BABABA;
    border-bottom: 1px solid #bababa;
    margin:0 auto;
    text-align: center;
}
header .nav .navbox{
    width:490px;
    height:100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
header .nav .small{
    width:62px;
    height:100%;
}
header .nav .small a{
    display: block;
    font: 14px/22px 微軟正黑體, Helvetica, Arial, Verdana, sans-serif;
    color:#6b6b6b;
    width:100%;
    line-height: 37px;
    height:100%;
}
.self{
    width:980px;
    height:300px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.self .title{
    position: absolute;
    top:0;
    left:0;
    font-size: 22px;
}
.self .zp{
    width:180px;
    height:140px;
    border-radius: 50%;
    padding-top: 30px;
    overflow: hidden;
    margin-left: 100px;
}
.self .word{
    width:500px;
    color:#6b6b6b;
    height:300px;
    /* background-color:rgba(0, 0, 0, 0.21); */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main{
    width:980px;
    height:400px;
    margin:50px auto;
}
.word{
    width:900px;
    height:100%;
    padding:0 40px;
    color:#6b6b6b
}